{"swagger": "2.0", "info": {"title": "SSO Service API", "description": "API documentation for the SSO service", "contact": {"email": "your-email@example.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "sso.arnatech.id", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Bearer": []}], "paths": {"/auth/change-password/": {"post": {"operationId": "auth_change-password_create", "description": "Change password for authenticated user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ChangePassword"}}], "responses": {"200": {"description": "Password changed successfully."}, "400": {"description": "Invalid old password."}}, "tags": ["auth"]}, "parameters": []}, "/auth/google-login/": {"post": {"operationId": "auth_google-login_create", "description": "Handle Google Login.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["token"], "type": "object", "properties": {"token": {"description": "Google Token", "type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["token"], "type": "object", "properties": {"token": {"description": "Google Token", "type": "string"}}}}}, "tags": ["auth"]}, "parameters": []}, "/auth/login/": {"post": {"operationId": "auth_login_create", "description": "Handle MFA-aware login. Prompt for MFA if enabled.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email", "password"], "type": "object", "properties": {"email": {"description": "User email", "type": "string"}, "password": {"description": "User password", "type": "string"}}}}], "responses": {"200": {"description": "MFA required or JWT tokens returned", "examples": {"application/json": {"mfa_required": true, "message": "MFA is required. Please provide your MFA token."}}}, "400": {"description": "Invalid credentials"}}, "tags": ["auth"]}, "parameters": []}, "/auth/logout/": {"post": {"operationId": "auth_logout_create", "description": "Logout user by blacklisting the refresh token.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["refresh"], "type": "object", "properties": {"refresh": {"description": "Refresh token", "type": "string"}}}}], "responses": {"205": {"description": "Logout successful"}, "400": {"description": "Bad Request"}}, "tags": ["auth"]}, "parameters": []}, "/auth/me/": {"get": {"operationId": "auth_me_list", "description": "Get details of the currently authenticated user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}, "401": {"description": "Unauthorized"}}, "tags": ["auth"]}, "patch": {"operationId": "auth_me_partial_update", "description": "Update details of the currently authenticated user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}}, "tags": ["auth"]}, "parameters": []}, "/auth/mfa/disable/": {"post": {"operationId": "auth_mfa_disable_create", "description": "Disable MFA for the user. Requires either current password OR valid TOTP code.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {"password": {"description": "Current account password (optional if TOTP is provided)", "type": "string"}, "totp": {"description": "Current 6-digit TOTP code (optional if password is provided)", "type": "string"}}}}], "responses": {"200": {"description": "MFA disabled successfully", "examples": {"application/json": {"message": "MFA has been disabled."}}}, "400": {"description": "Password/TOTP missing or invalid, or MFA already disabled"}, "401": {"description": "Unauthorized"}}, "tags": ["auth"]}, "parameters": []}, "/auth/mfa/set/": {"post": {"operationId": "auth_mfa_set_create", "description": "Set up MFA for the user and return the MFA secret and QR code URL.", "parameters": [], "responses": {"200": {"description": "MFA secret and QR code URL returned", "examples": {"application/json": {"mfa_secret": "SECRET_CODE", "qr_code_url": "otpauth://totp/Arna%20SSO:testuser@example.com?secret=SECRET_CODE&issuer=Arna%20SSO"}}}, "400": {"description": "MFA is already enabled"}, "401": {"description": "Unauthorized"}}, "tags": ["auth"]}, "parameters": []}, "/auth/mfa/status/": {"get": {"operationId": "auth_mfa_status_list", "description": "Get MFA status for the authenticated user.", "parameters": [], "responses": {"200": {"description": "MFA status", "examples": {"application/json": {"mfa_enabled": true}}}, "401": {"description": "Unauthorized"}}, "tags": ["auth"]}, "parameters": []}, "/auth/mfa/verify/": {"post": {"operationId": "auth_mfa_verify_create", "description": "Verify MFA token using a Pre-Auth Token from the previous step.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["token", "mfa_token"], "type": "object", "properties": {"token": {"description": "Pre-Auth Token (received from Login step)", "type": "string"}, "mfa_token": {"description": "6-digit MFA Code", "type": "string"}}}}], "responses": {"200": {"description": "MFA verified, JWT tokens returned", "examples": {"application/json": {"refresh": "eyJ...", "access": "eyJ..."}}}, "400": {"description": "Invalid Token or Code"}, "401": {"description": "Token Expired or Invalid"}}, "tags": ["auth"]}, "parameters": []}, "/auth/passkeys/": {"get": {"operationId": "auth_passkeys_list", "summary": "Passkey — List registered keys", "description": "Returns all passkeys registered to the current user.", "parameters": [], "responses": {"200": {"description": "List of passkeys", "examples": {"application/json": [{"id": 1, "name": "MacBook Touch ID", "platform": "Apple", "last_used": "2025-01-15T10:30:00Z", "created_at": "2025-01-01T08:00:00Z"}]}}, "401": {"description": "Unauthorized"}}, "tags": ["auth"]}, "parameters": []}, "/auth/passkeys/login/begin/": {"get": {"operationId": "auth_passkeys_login_begin_list", "summary": "Passkey Login — Begin", "description": "Initiate passkey login. No authentication required.\n\n**Client flow:**\n1. Call this endpoint (no headers needed).\n2. Pass the returned `publicKey` options to `navigator.credentials.get()`.\n3. POST the result to `/auth/passkeys/login/complete/`.\n\nA session cookie is set. The browser must include it in the complete step (happens automatically in browser environments).", "parameters": [], "responses": {"200": {"description": "PublicKeyCredentialRequestOptions", "examples": {"application/json": {"publicKey": {"challenge": "base64url-encoded-challenge", "timeout": 60000, "rpId": "localhost", "allowCredentials": [], "userVerification": "preferred"}}}}}, "tags": ["auth"]}, "parameters": []}, "/auth/passkeys/login/complete/": {"post": {"operationId": "auth_passkeys_login_complete_create", "summary": "Passkey Login — Complete", "description": "Complete passkey login and receive JWT tokens.\n\nSend the raw output of `navigator.credentials.get()` as the request body.\n\n**MFA is skipped** — passkeys are a phishing-resistant authenticator equivalent to a hardware 2FA token.\n\n**Note:** The session cookie from the begin step must be included (browsers do this automatically). This endpoint does **not** require an Authorization header.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["id", "rawId", "response", "type"], "type": "object", "properties": {"id": {"description": "Base64url credential id", "type": "string"}, "rawId": {"description": "Base64url raw id", "type": "string"}, "response": {"type": "object", "properties": {"authenticatorData": {"type": "string"}, "clientDataJSON": {"type": "string"}, "signature": {"type": "string"}, "userHandle": {"type": "string"}}}, "type": {"type": "string", "example": "public-key"}}}}], "responses": {"200": {"description": "Login successful — JWT tokens returned", "examples": {"application/json": {"refresh": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...", "access": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...", "email": "user@example.com", "full_name": "User Name"}}}, "400": {"description": "Login failed", "examples": {"application/json": {"error": "No active login session. Please call /login/begin/ first."}}}}, "tags": ["auth"]}, "parameters": []}, "/auth/passkeys/register/begin/": {"get": {"operationId": "auth_passkeys_register_begin_list", "summary": "Passkey Register — Begin", "description": "Initiate passkey registration for the currently authenticated user.\n\n**Client flow:**\n1. Call this endpoint with `Authorization: Bearer <access_token>`.\n2. Pass the returned `publicKey` options to `navigator.credentials.create()`.\n3. POST the result to `/auth/passkeys/register/complete/`.\n\nA session cookie is returned alongside the response. The browser must send it back in the complete step (this happens automatically in browser environments).", "parameters": [], "responses": {"200": {"description": "PublicKeyCredentialCreationOptions", "examples": {"application/json": {"publicKey": {"rp": {"name": "Arna SSO", "id": "localhost"}, "user": {"name": "user@example.com", "displayName": "user@example.com", "id": "dXNlckBleGFtcGxlLmNvbQ=="}, "challenge": "base64url-encoded-challenge", "pubKeyCredParams": [{"type": "public-key", "alg": -7}], "timeout": 60000, "excludeCredentials": [], "authenticatorSelection": {"residentKey": "preferred"}, "attestation": "none"}}}}, "401": {"description": "Unauthorized — valid JWT required"}}, "tags": ["auth"]}, "parameters": []}, "/auth/passkeys/register/complete/": {"post": {"operationId": "auth_passkeys_register_complete_create", "summary": "Passkey Register — Complete", "description": "Complete passkey registration.\n\nSend the raw output of `navigator.credentials.create()` as the request body.\nOptionally include a `key_name` field to label the key (e.g. `\"My YubiKey\"`).\n\n**Note:** The session cookie from the begin step must be included (browsers do this automatically).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["id", "rawId", "response", "type"], "type": "object", "properties": {"id": {"description": "Base64url credential id", "type": "string"}, "rawId": {"description": "Base64url raw id", "type": "string"}, "response": {"type": "object", "properties": {"attestationObject": {"type": "string"}, "clientDataJSON": {"type": "string"}}}, "type": {"type": "string", "example": "public-key"}, "key_name": {"description": "Optional display name for this key (e.g. 'MacBook Touch ID')", "type": "string"}}}}], "responses": {"200": {"description": "Registration successful", "examples": {"application/json": {"status": "OK", "key_name": "MacBook Touch ID"}}}, "400": {"description": "Registration failed — missing session state or invalid credential"}, "401": {"description": "Unauthorized — valid JWT required"}}, "tags": ["auth"]}, "parameters": []}, "/auth/passkeys/{id}/": {"delete": {"operationId": "auth_passkeys_delete", "summary": "Passkey — Delete a key", "description": "Delete a registered passkey.\n\n`id` is the passkey's database ID (from the list endpoint).", "parameters": [], "responses": {"200": {"description": "Passkey deleted", "examples": {"application/json": {"status": "OK", "message": "Passkey deleted."}}}, "403": {"description": "Forbidden — key belongs to another user"}, "404": {"description": "Not found"}}, "tags": ["auth"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/auth/password-reset-confirm/": {"post": {"operationId": "auth_password-reset-confirm_create", "description": "Confirm password reset with OTP and set new password.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PasswordResetConfirm"}}], "responses": {"200": {"description": "Password has been reset successfully."}, "400": {"description": "Invalid OTP or user."}}, "tags": ["auth"]}, "parameters": []}, "/auth/password-reset-request/": {"post": {"operationId": "auth_password-reset-request_create", "description": "Request a password reset OTP email.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PasswordResetRequest"}}], "responses": {"200": {"description": "Password reset OTP sent if user exists."}}, "tags": ["auth"]}, "parameters": []}, "/auth/register/": {"post": {"operationId": "auth_register_create", "description": "Register a new user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "User registered successfully", "examples": {"application/json": {"refresh": "eyJhbGciOiJIUzI1...", "access": "eyJhbGciOiJIUzI1..."}}}, "400": {"description": "Bad Request"}}, "tags": ["auth"]}, "parameters": []}, "/auth/resend-email-otp/": {"post": {"operationId": "auth_resend-email-otp_create", "description": "Resend OTP to user's email. Can only be done 5 minutes after the last OTP was sent.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email"], "type": "object", "properties": {"email": {"description": "User email", "type": "string"}}}}], "responses": {"200": {"description": "OTP resent successfully."}, "400": {"description": "Bad Request (e.g., OTP sent too recently, user already verified)"}, "404": {"description": "User not found"}}, "tags": ["auth"]}, "parameters": []}, "/auth/token/refresh/": {"post": {"operationId": "auth_token_refresh_create", "description": "Refresh JWT access token using a refresh token.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["refresh"], "type": "object", "properties": {"refresh": {"description": "The refresh token to use", "type": "string"}}}}], "responses": {"200": {"description": "New access token", "examples": {"application/json": {"access": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}}}, "400": {"description": "Invalid token or token expired"}}, "tags": ["auth"]}, "parameters": []}, "/auth/token/verify/": {"post": {"operationId": "auth_token_verify_create", "description": "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenVerify"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenVerify"}}}, "tags": ["auth"]}, "parameters": []}, "/auth/verify-email/": {"post": {"operationId": "auth_verify-email_create", "description": "Verify the email with OTP.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email", "otp"], "type": "object", "properties": {"email": {"description": "Email address", "type": "string"}, "otp": {"description": "6-digit OTP", "type": "string"}}}}], "responses": {"200": {"description": "Email verified successfully."}, "400": {"description": "Invalid OTP or expired OTP."}, "404": {"description": "User not found."}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/register-request/": {"post": {"operationId": "auth_wa_register-request_create", "description": "Register new user with WhatsApp. Send OTP for verification.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WARegisterRequest"}}], "responses": {"200": {"description": "OTP sent to WhatsApp"}, "400": {"description": "Invalid data or phone already in use"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/register-verify/": {"post": {"operationId": "auth_wa_register-verify_create", "description": "Verify OTP to activate account and receive JWT tokens.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WARegisterVerify"}}], "responses": {"200": {"description": "Account activated, JWT tokens returned", "examples": {"application/json": {"message": "Account activated successfully", "refresh": "eyJhbGciOiJIUzI1...", "access": "eyJhbGciOiJIUzI1..."}}}, "400": {"description": "Invalid or expired OTP"}, "404": {"description": "User not found"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/reverse/register-request/": {"post": {"operationId": "auth_wa_reverse_register-request_create", "description": "Register new user with WhatsApp using reverse OTP. Send OTP data to n8n webhook.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WAReverseRegisterRequest"}}], "responses": {"200": {"description": "OTP data sent to n8n webhook"}, "400": {"description": "Invalid data or phone already in use"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/reverse/send-link-otp/": {"post": {"operationId": "auth_wa_reverse_send-link-otp_create", "description": "Send OTP data to n8n webhook for reverse WA authentication. User must initiate chat.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WAReverseSendLinkOTP"}}], "responses": {"200": {"description": "OTP data sent to n8n webhook"}, "400": {"description": "Invalid phone number or phone already in use"}, "429": {"description": "Too many requests, wait before resending"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/reverse/send-otp/": {"post": {"operationId": "auth_wa_reverse_send-otp_create", "description": "Send OTP data to n8n webhook for reverse WA login/register. User must initiate chat. Auto-registers if phone not found.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WAReverseSendOTP"}}], "responses": {"200": {"description": "OTP data sent to n8n webhook"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/send-link-otp/": {"post": {"operationId": "auth_wa_send-link-otp_create", "description": "Send OTP to link WhatsApp number to authenticated user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WASendLinkOTP"}}], "responses": {"200": {"description": "OTP sent to WhatsApp"}, "400": {"description": "Invalid phone number or phone already in use"}, "429": {"description": "Too many requests, wait before resending"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/send-otp/": {"post": {"operationId": "auth_wa_send-otp_create", "description": "Send OTP to WhatsApp for login.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WASendOTP"}}], "responses": {"200": {"description": "OTP sent if phone is registered"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/verify-link/": {"post": {"operationId": "auth_wa_verify-link_create", "description": "Verify OTP to link WhatsApp number.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WAVerifyLink"}}], "responses": {"200": {"description": "Phone number linked successfully"}, "400": {"description": "Invalid or expired OTP"}}, "tags": ["auth"]}, "parameters": []}, "/auth/wa/verify-otp/": {"post": {"operationId": "auth_wa_verify-otp_create", "description": "Verify OTP and receive JWT tokens for login.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WAVerifyOTP"}}], "responses": {"200": {"description": "Login successful, JWT tokens returned", "examples": {"application/json": {"refresh": "eyJhbGciOiJIUzI1...", "access": "eyJhbGciOiJIUzI1..."}}}, "400": {"description": "Invalid or expired OTP"}, "404": {"description": "User not found"}}, "tags": ["auth"]}, "parameters": []}, "/iam/permissions/": {"get": {"operationId": "iam_permissions_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Permission"}}}}, "tags": ["iam"]}, "post": {"operationId": "iam_permissions_create", "description": "Create a new permission. Organization is automatically set from active organization session (cannot be overridden).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["name"], "type": "object", "properties": {"name": {"description": "Permission Name", "type": "string", "example": "user.create"}, "description": {"description": "Description", "type": "string", "example": "Can create new users"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["name"], "type": "object", "properties": {"name": {"description": "Permission Name", "type": "string", "example": "user.create"}, "description": {"description": "Description", "type": "string", "example": "Can create new users"}}}}}, "tags": ["iam"]}, "parameters": []}, "/iam/permissions/{id}/": {"get": {"operationId": "iam_permissions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["iam"]}, "put": {"operationId": "iam_permissions_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Permission"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["iam"]}, "patch": {"operationId": "iam_permissions_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Permission"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["iam"]}, "delete": {"operationId": "iam_permissions_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["iam"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this permission.", "required": true, "type": "string", "format": "uuid"}]}, "/iam/roles/": {"get": {"operationId": "iam_roles_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Role"}}}}, "tags": ["iam"]}, "post": {"operationId": "iam_roles_create", "description": "Create a new role with optional permissions. Organization is automatically set from active organization session (cannot be overridden).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["name"], "type": "object", "properties": {"name": {"description": "Role Name", "type": "string", "example": "HR Manager"}, "description": {"description": "Description", "type": "string", "example": "Can manage employee data"}, "permission_ids": {"description": "List of Permission IDs (must belong to active organization)", "type": "array", "items": {"type": "string", "format": "uuid"}, "example": ["3fa85f64-5717-4562-b3fc-2c963f66afa6"]}}}}], "responses": {"201": {"description": "", "schema": {"required": ["name"], "type": "object", "properties": {"name": {"description": "Role Name", "type": "string", "example": "HR Manager"}, "description": {"description": "Description", "type": "string", "example": "Can manage employee data"}, "permission_ids": {"description": "List of Permission IDs (must belong to active organization)", "type": "array", "items": {"type": "string", "format": "uuid"}, "example": ["3fa85f64-5717-4562-b3fc-2c963f66afa6"]}}}}}, "tags": ["iam"]}, "parameters": []}, "/iam/roles/{id}/": {"get": {"operationId": "iam_roles_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["iam"]}, "put": {"operationId": "iam_roles_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["iam"]}, "patch": {"operationId": "iam_roles_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["iam"]}, "delete": {"operationId": "iam_roles_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["iam"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this role.", "required": true, "type": "string", "format": "uuid"}]}, "/iam/user-permissions/": {"get": {"operationId": "iam_user-permissions_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserPermission"}}}}, "tags": ["iam"]}, "post": {"operationId": "iam_user-permissions_create", "description": "Assign direct permissions to an organization member.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["organization_member"], "type": "object", "properties": {"organization_member": {"description": "Organization Member UUID", "type": "string", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}, "permission_ids": {"description": "List of Permission IDs", "type": "array", "items": {"type": "string", "format": "uuid"}, "example": ["3fa85f64-5717-4562-b3fc-2c963f66afa6"]}}}}], "responses": {"201": {"description": "", "schema": {"required": ["organization_member"], "type": "object", "properties": {"organization_member": {"description": "Organization Member UUID", "type": "string", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}, "permission_ids": {"description": "List of Permission IDs", "type": "array", "items": {"type": "string", "format": "uuid"}, "example": ["3fa85f64-5717-4562-b3fc-2c963f66afa6"]}}}}}, "tags": ["iam"]}, "parameters": []}, "/iam/user-permissions/{id}/": {"get": {"operationId": "iam_user-permissions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserPermission"}}}, "tags": ["iam"]}, "put": {"operationId": "iam_user-permissions_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserPermission"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserPermission"}}}, "tags": ["iam"]}, "patch": {"operationId": "iam_user-permissions_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserPermission"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserPermission"}}}, "tags": ["iam"]}, "delete": {"operationId": "iam_user-permissions_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["iam"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this user permission.", "required": true, "type": "string", "format": "uuid"}]}, "/iam/user-roles/": {"get": {"operationId": "iam_user-roles_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserRole"}}}}, "tags": ["iam"]}, "post": {"operationId": "iam_user-roles_create", "description": "Assign a role to an organization member.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["organization_member", "role"], "type": "object", "properties": {"organization_member": {"description": "Organization Member UUID", "type": "string", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}, "role": {"description": "Role UUID", "type": "string", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}}], "responses": {"201": {"description": "", "schema": {"required": ["organization_member", "role"], "type": "object", "properties": {"organization_member": {"description": "Organization Member UUID", "type": "string", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}, "role": {"description": "Role UUID", "type": "string", "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}}}, "tags": ["iam"]}, "parameters": []}, "/iam/user-roles/{id}/": {"get": {"operationId": "iam_user-roles_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserRole"}}}, "tags": ["iam"]}, "put": {"operationId": "iam_user-roles_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserRole"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserRole"}}}, "tags": ["iam"]}, "patch": {"operationId": "iam_user-roles_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserRole"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserRole"}}}, "tags": ["iam"]}, "delete": {"operationId": "iam_user-roles_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["iam"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this user role.", "required": true, "type": "string", "format": "uuid"}]}, "/organizations/": {"get": {"operationId": "organizations_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Organization"}}}}, "tags": ["organizations"]}, "post": {"operationId": "organizations_create", "description": "Create organization and automatically make owner a member with active session.\nReturns new JWT tokens with updated org context.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Organization"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Organization"}}}, "tags": ["organizations"]}, "parameters": []}, "/organizations/current/": {"get": {"operationId": "organizations_current_read", "summary": "Get current organization", "description": "Get the current active organization for the authenticated user", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Organization"}}, "404": {"description": "No active organization session found"}}, "tags": ["organizations"]}, "post": {"operationId": "organizations_current_create", "summary": "Set current organization", "description": "Switch the active organization session by providing organization_id", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SetCurrentOrganization"}}], "responses": {"200": {"description": "Organization switched successfully", "schema": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid"}, "name": {"type": "string"}, "package_type": {"type": "string"}, "status": {"type": "string"}, "access": {"type": "string"}, "refresh": {"type": "string"}}}}, "400": {"description": "Bad request - organization_id is required"}, "403": {"description": "Forbidden - user is not a member of this organization"}, "404": {"description": "Organization not found"}}, "tags": ["organizations"]}, "parameters": []}, "/organizations/{id}/": {"get": {"operationId": "organizations_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Organization"}}}, "tags": ["organizations"]}, "put": {"operationId": "organizations_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Organization"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Organization"}}}, "tags": ["organizations"]}, "patch": {"operationId": "organizations_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Organization"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Organization"}}}, "tags": ["organizations"]}, "delete": {"operationId": "organizations_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["organizations"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this organization.", "required": true, "type": "string", "format": "uuid"}]}, "/organizations/{organization_pk}/members/": {"get": {"operationId": "organizations_members_list", "description": "Nested ViewSet for managing organization members.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/OrganizationMember"}}}}, "tags": ["organizations"]}, "post": {"operationId": "organizations_members_create", "description": "\nAdd a new member to the organization.\n\n**Special behavior:**\n- **POST without payload**: Switch active session to this organization (see organization_pk in URL)\n- **POST with payload**: Create new member\n\n**Parameter `user`** accepts flexible formats:\n- **UUID**: User ID (e.g. `a1b2c3d4-e5f6-7890-abcd-ef1234567890`)\n- **Email**: User email address (e.g. `user@example.com`)\n- **Phone**: Phone number (e.g. `08123456789`, `+628123456789`, `628123456789`)\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["user"], "type": "object", "properties": {"user": {"description": "User identifier. Can be: UUID (user id), email, or phone number. Example: \"user@example.com\", \"08123456789\", or UUID.", "type": "string", "example": "user@example.com"}}}}], "responses": {"201": {"description": "Member added successfully"}, "400": {"description": "Bad request - invalid data"}, "403": {"description": "Forbidden - no permission or user is not a member (for switch session)"}}, "tags": ["organizations"]}, "parameters": [{"name": "organization_pk", "in": "path", "required": true, "type": "string"}]}, "/organizations/{organization_pk}/members/{id}/": {"get": {"operationId": "organizations_members_read", "description": "Nested ViewSet for managing organization members.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrganizationMember"}}}, "tags": ["organizations"]}, "put": {"operationId": "organizations_members_update", "description": "Nested ViewSet for managing organization members.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrganizationMember"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrganizationMember"}}}, "tags": ["organizations"]}, "patch": {"operationId": "organizations_members_partial_update", "description": "Nested ViewSet for managing organization members.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OrganizationMember"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrganizationMember"}}}, "tags": ["organizations"]}, "delete": {"operationId": "organizations_members_delete", "description": "Nested ViewSet for managing organization members.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["organizations"]}, "parameters": [{"name": "organization_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/profiles/": {"get": {"operationId": "profiles_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserProfile"}}}}, "tags": ["profiles"]}, "post": {"operationId": "profiles_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserProfile"}}}, "tags": ["profiles"]}, "parameters": []}, "/profiles/{id}/": {"get": {"operationId": "profiles_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserProfile"}}}, "tags": ["profiles"]}, "put": {"operationId": "profiles_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserProfile"}}}, "tags": ["profiles"]}, "patch": {"operationId": "profiles_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserProfile"}}}, "tags": ["profiles"]}, "delete": {"operationId": "profiles_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["profiles"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"ChangePassword": {"required": ["old_password", "new_password"], "type": "object", "properties": {"old_password": {"title": "Old password", "type": "string", "minLength": 1}, "new_password": {"title": "New password", "type": "string", "minLength": 1}}}, "User": {"required": ["email", "password"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 254, "minLength": 1}, "password": {"title": "Password", "type": "string", "maxLength": 128, "minLength": 1}}}, "PasswordResetConfirm": {"required": ["email", "otp", "new_password"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}, "otp": {"title": "Otp", "type": "string", "minLength": 1}, "new_password": {"title": "New password", "type": "string", "minLength": 1}}}, "PasswordResetRequest": {"required": ["email"], "type": "object", "properties": {"email": {"title": "Email", "type": "string", "format": "email", "minLength": 1}}}, "TokenVerify": {"required": ["token"], "type": "object", "properties": {"token": {"title": "Token", "type": "string", "minLength": 1}}}, "WARegisterRequest": {"required": ["phone"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email"}}}, "WARegisterVerify": {"required": ["phone", "otp"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}, "otp": {"title": "Otp", "type": "string", "maxLength": 6, "minLength": 1}}}, "WAReverseRegisterRequest": {"required": ["phone"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "format": "email"}}}, "WAReverseSendLinkOTP": {"required": ["phone"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}}}, "WAReverseSendOTP": {"required": ["phone"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}}}, "WASendLinkOTP": {"required": ["phone"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}}}, "WASendOTP": {"required": ["phone"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}}}, "WAVerifyLink": {"required": ["otp"], "type": "object", "properties": {"otp": {"title": "Otp", "type": "string", "maxLength": 6, "minLength": 1}}}, "WAVerifyOTP": {"required": ["phone", "otp"], "type": "object", "properties": {"phone": {"title": "Phone", "type": "string", "minLength": 1}, "otp": {"title": "Otp", "type": "string", "maxLength": 6, "minLength": 1}}}, "Permission": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "organization": {"title": "Organization", "type": "string", "format": "uuid", "readOnly": true}, "organization_name": {"title": "Organization name", "type": "string", "readOnly": true}}}, "Role": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "organization": {"title": "Organization", "type": "string", "format": "uuid", "readOnly": true}, "organization_name": {"title": "Organization name", "type": "string", "readOnly": true}, "permissions": {"type": "array", "items": {"$ref": "#/definitions/Permission"}, "readOnly": true}, "permission_ids": {"type": "array", "items": {"type": "string", "format": "uuid"}}}}, "UserPermission": {"required": ["organization_member"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "organization_member": {"title": "Organization member", "type": "string", "format": "uuid"}, "user_name": {"title": "User name", "type": "string", "readOnly": true}, "organization_name": {"title": "Organization name", "type": "string", "readOnly": true}, "permissions": {"type": "array", "items": {"$ref": "#/definitions/Permission"}, "readOnly": true}, "permission_ids": {"type": "array", "items": {"type": "string", "format": "uuid"}}, "assigned_at": {"title": "Assigned at", "type": "string", "format": "date-time", "readOnly": true}}}, "UserRole": {"required": ["organization_member", "role"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "organization_member": {"title": "Organization member", "type": "string", "format": "uuid"}, "user_name": {"title": "User name", "type": "string", "readOnly": true}, "organization_name": {"title": "Organization name", "type": "string", "readOnly": true}, "role": {"title": "Role", "type": "string", "format": "uuid"}, "role_detail": {"$ref": "#/definitions/Role"}, "assigned_at": {"title": "Assigned at", "type": "string", "format": "date-time", "readOnly": true}}}, "Organization": {"required": ["name", "package_type"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}, "owner": {"title": "Owner", "type": "string", "format": "uuid", "readOnly": true}, "package_type": {"title": "Package type", "type": "string", "maxLength": 50, "minLength": 1}, "created_at": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}, "updated_at": {"title": "Updated at", "type": "string", "format": "date-time", "readOnly": true}}}, "SetCurrentOrganization": {"required": ["organization_id"], "type": "object", "properties": {"organization_id": {"title": "Organization id", "description": "UUID of the organization to set as current", "type": "string", "format": "uuid"}}}, "OrganizationMember": {"required": ["user"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "user": {"title": "User", "description": "User ID (UUID), email, or phone number", "type": "string"}, "user_name": {"title": "User name", "type": "string", "readOnly": true}, "organization": {"title": "Organization", "type": "string", "format": "uuid", "readOnly": true}, "organization_name": {"title": "Organization name", "type": "string", "readOnly": true}, "joined_at": {"title": "Joined at", "type": "string", "format": "date-time", "readOnly": true}, "is_session_active": {"title": "Is session active", "type": "boolean", "readOnly": true}}}, "UserProfile": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "user": {"title": "User", "type": "string", "format": "uuid", "readOnly": true}, "full_name": {"title": "Full name", "type": "string", "maxLength": 100, "x-nullable": true}, "user_name": {"title": "User name", "type": "string", "readOnly": true}, "bio": {"title": "Bio", "type": "string"}, "profile_picture": {"title": "Profile picture", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "phone_number": {"title": "Phone number", "type": "string", "maxLength": 15}, "preferences": {"title": "Preferences", "type": "object", "x-nullable": true}}}}}